## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search\WeatherPy_vacation.csv")
vacation_df = vacation_df.dropna()
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Vaini,TO,78.80,broken clouds,-21.20,-175.20,Keleti Beach Resort
1,3,Kaihua,CN,78.12,broken clouds,23.37,104.28,Zhongyu Hotel
2,6,Gladstone,AU,75.20,clear sky,-23.85,151.25,Highpoint International
3,7,Bengkulu,ID,85.37,scattered clouds,-3.80,102.27,Grage Hotel Bengkulu
4,16,Isangel,VU,78.80,broken clouds,-19.55,169.27,Volcano Sea View Tree House

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>and<dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Princeton"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Princeton"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Key Biscayne"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Weston"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Jensen Beach"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].values[0],vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0],vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0],vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0],vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3["Lat"].values[0],vacation_stop3["Lng"].values[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

fun_trip = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(fun_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,589,Princeton,US,84.20,clear sky,25.54,-80.41,American Best Inn
1,662,Key Biscayne,US,84.99,scattered clouds,25.69,-80.16,"The Ritz-Carlton Key Biscayne, Miami"
2,259,Weston,US,84.99,clear sky,26.10,-80.40,Courtyard by Marriott Fort Lauderdale Weston
3,240,Jensen Beach,US,84.20,clear sky,27.25,-80.23,Courtyard by Marriott Hutchinson Island Oceans...

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>and<dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(25.0, -80.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))